@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");

$body-background: #000;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mars-Project";
  /* give the font a name */
  src: url("./font/Mars-Project.otf") format("opentype"),
    url("./font/Mars-Project.ttf") format("truetype"),
    url("./font/Mars-Project.woff") format("woff2");
}

html {
  overflow-x: hidden;
}

body {
  background: $body-background;
  color: #fff;
  font-family: "Figtree", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

nav.navbar {
  background: transparent !important;
  border-bottom: 1px solid rgb(123, 123, 123);
  // color: gray;

  .navbar-nav .nav-item {
    margin-inline: 1rem;
    .nav-link {
      color: gray;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: white;
      }

      &.active {
        color: white !important;
        // margin-right: 4px;
        // margin-bottom: 4px;
        display: flex;
        flex-direction: column;
      }

      &.active::after {
        // Make a dot under the active link

        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background: white;
        border-radius: 50%;
        // margin-left: 6px;
      }
    }
  }

  // .collapse-div{
  //     display: flex;
  //     justify-content: center;
  //     flex-direction: column;
  // }
}

.btn-white-gradient {
  border: 1px solid white;
  padding: 8px 20px;
  // background-color: blue;
  border-radius: 0;
  color: white;

  a {
    color: white;
    text-decoration: none;
    transition: 0.4s ease;
  }

  &:hover {
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    // opacity: 0.3;
  }
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("./assets/HERO\ PATTERN.svg") no-repeat center;
  background-size: cover;

  .hero-container {
    min-height: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    text-align: center;

    h1 {
      font-family: "Mars-Project", sans-serif;
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

.blue-gradient-button {
  background: linear-gradient(
    102.24deg,
    #00b2ff -137.58%,
    rgba(3, 18, 69, 0) 122.85%
  );
  // padding: 10px;
  color: white;
  font-family: "Figtree";
  border: 1px solid #24caff;
  padding: 10px 25px;
  margin-top: 3rem;
  border-radius: 0;
}

#about {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  padding-inline: 2rem;

  .about-container {
    h1 {
      font-family: "Mars-Project", sans-serif;
      // font-size: 4rem;
      font-weight: 400;
      // text-transform: uppercase;
      letter-spacing: 1;
      margin-bottom: 5rem;
    }

    p {
      // font-size: 1.3rem;
    }
  }
}

.svg {
  display: none;
  position: absolute;
  z-index: -1000000;
}

.right-svg {
  right: -29rem;
  top: -36rem;
}

.left-svg {
  right: 61rem;
  top: 110rem;
}

.right-svg-1 {
  right: -28rem;
  top: 173rem;
}

.left-svg-2 {
  right: 61rem;
  top: -32rem;
}

#why {
  min-height: 100vh;
  height: 100%;
  margin-bottom: 5rem;

  position: relative;

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 100;

      h1 {
        font-family: "Mars-Project", sans-serif;
        // font-size: 3rem;
        font-weight: 400;
        // text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 5rem;
        // color: rgb(226, 215, 48);
        // color: linear-gradient(
        //   90deg,
        //   rgba(226, 215, 48, 1) 0%,
        //   rgba(198, 158, 12, 1) 100%
        // );
      }
    }

    .card {
      background: linear-gradient(
        102.24deg,
        #00b2ff -137.58%,
        rgba(3, 18, 69, 0) 122.85%
      );
      height: 286px;
      // border-radius: 50%;
      width: 286px;
      //   border: 2px solid white;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 4rem;

      .card-content {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding: 0 20px;
        }

        .card-img {
          // align-items: center;
          img {
            height: 330px;
            // border-radius: 50%;
            width: 330px;
            // position: absolute;
          }
        }
      }
    }

    .why-cards {
      height: 23rem;
      z-index: 10;
      margin-top: 5rem;

      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        img {
          // width: 8rem;
          // height: 9rem;
          position: absolute;
          // top: -187px;
          z-index: 1;
        }

        img.insight-img {
          width: 12rem;
          height: 9rem;
          top: -187px;
        }

        img.bulb {
          width: 11rem;
          height: 12rem;
          top: -220px;
        }

        img.rupee {
          width: 7rem;
          height: 9rem;
          top: -194px;
        }

        .rupee-card {
          top: -185px;
        }

        h1 {
          color: #0099db;
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
      transition: all 0.3s ease-out;
      text-decoration: none;
    }

    &:hover {
      .card:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
          0 24px 46px var(--box-shadow-color);
      }
    }
  }
}

#sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: flex-start;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 5rem;

  .sponsors-container {
    & > h1 {
      text-align: center;
      font-family: "Mars-Project", sans-serif;
      // font-size: 4rem;
      font-weight: 400;
      // text-transform: uppercase;
      letter-spacing: 1;
      margin-bottom: 5rem;
    }

    .row {
      display: flex;
      text-align: center !important;
      justify-content: center;
      gap: 3rem;
      // flex-wrap: wrap;
      align-items: center;

      @media (min-width: 768px) {
        text-align: start !important;
        justify-content: flex-start !important;
      }

      h1 {
        margin-bottom: 2rem;
        margin-top: 5rem;

        // font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1;
      }

      .card {
        background: linear-gradient(
          102.24deg,
          #00b2ff -137.58%,
          rgba(3, 18, 69, 0) 122.85%
        );

        height: 11rem;
        width: 20rem;
        display: flex;
        justify-content: center;
        text-align: center;

        .card-content {
          .logo {
            img {
              height: 4rem;
              // width: 5rem;
            }
          }
        }
        box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
        transition: all 0.3s ease-out;
        text-decoration: none;
      }
    }
  }
}

#organizers {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 2rem;
  padding-top: 10rem;

  h1 {
    font-family: "Mars-Project", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    // text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5rem;
  }

  .organizers-container {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    // flex-shrink: 1;
    // gap: 3rem;

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 1rem;
    }
  }
}

#footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("./assets/HERO\ PATTERN.svg") no-repeat center;
  background-size: cover;
  backdrop-filter: 40px;

  l .footer-background-svg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -100rem;
    z-index: -10;
    width: 100%;
    // height: 100;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;

    .logo {
      display: inline;
      position: relative;

      span {
        height: 10rem;
        width: 10rem;
        display: block;
        border: #00b3ff;
        border-radius: 100%;
        filter: blur(70px);
        position: absolute;
        right: 6rem;
        background: linear-gradient(
          102.24deg,
          #00b2ff -137.58%,
          rgba(3, 18, 69, 0) 122.85%
        );
        z-index: 0;
      }

      img {
        height: 5rem;
        width: 18rem;
        position: relative;
        margin-bottom: 3rem;
        z-index: 3;

        // @media (min-width: 786px) {
        //   height: 6rem;
        //   width: 22rem;
        // }
      }
    }
  }

  .socials {
    display: flex;
    gap: 20px;
  }
}

#organizers {
  .card {
    background-color: transparent;

    .card-img {
      background: linear-gradient(
        102.24deg,
        #00b2ff -137.58%,
        rgba(3, 18, 69, 0) 122.85%
      );
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 240px;
      margin-bottom: 3rem;
      // margin-right: 4rem;

      img {
        width: 200px;
        // height: 220px;
        border-radius: 50%;
      }
    }

    // .content {
    //   text-align: center;
    //   align-items: center;
    //   // fkex-wrap: wrap;
    //   width: max-content;
    //   display: flex;
    //   flex-direction: column;
    //   /* margin-right: 3rem; */
    //   margin-left: 3rem;
    // }
  }
}

// TEXT_GRADIENTS
.gradient-text {
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platinum-heading {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 10%,
    rgb(141, 128, 214) 100%
  ) !important;
}

.golden-heading {
  background-image: linear-gradient(
    180deg,
    rgba(241, 169, 8, 1) 0%,
    rgba(194, 237, 11, 1) 100%
  );
}

.silver-heading {
  background-image: linear-gradient(
    180deg,
    rgb(162, 252, 232) 1%,
    rgb(71, 60, 134) 100%
  ) !important;
}
@media (min-width: 1200px) {
  .svg {
    display: block;
  }
  .right-svg {
    position: absolute;
    right: -29rem;
    top: -36rem;
  }

  .left-svg {
    position: absolute;
    right: 61rem;
    top: 110rem;
  }

  .right-svg-1 {
    position: absolute;
    right: -28rem;
    top: 173rem;
  }

  .left-svg-2 {
    position: absolute;
    right: 61rem;
    top: -32rem;
    overflow-x: hidden;
    // z-index: -8 !important;
    right: 55rem !important;
  }

  .left-svg-2 {
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
  }
  // #organizer {
  //   .organizer-container {
  //     .row {
  //       .main-column {
  //         width: 20% !important;
  //       }
  //     }
  //   }
  // }
  h1 {
    font-size: 4rem;
  }

  // #Organizers {
  //   .organizers-container {
  //     .row {
  //       gap: 0.1rem;
  //     }
  //   }
  // }
}

// AYAN SUGGESTED CARD
// .card {
//   height: 286px;
//   position: relative;
//   width: 286px;
//   //   border: 2px solid white;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   .card-content {
//     z-index: 8;
//     .card-img {
//       // align-items: center;
//       img {
//         height: 230px;
//         width: 230px;
//         // position: absolute;
//       }
//     }
//   }
//   &::before {
//     content: "";
//     height: 4px;
//     width: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     background: linear-gradient(
//       102.24deg,
//       #00b2ff -137.58%,
//       rgba(3, 18, 69, 0) 122.85%
//     );
//   }
//   &::after {
//     content: "";
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     right: 0;
//     top: 0;
//     background: linear-gradient(
//       102.24deg,
//       #00b2ff -137.58%,
//       rgba(3, 18, 69, 0) 122.85%
//     );
//   }
// }

// IMPLEMENTED

// .platinum-heading {
//   background: linear-gradient(
//     0deg,
//     #5f5c5a,
//     #868686,
//     #ffffff,
//     #a49dcd,
//     #ffffff,
//     #5f5c5a,
//     #868686
//   );
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   background-clip: text;
//   text-fill-color: transparent;
//   background-blend-mode: overlay, normal;
// }

// .golden-heading {
//   background: linear-gradient(0deg, #cbbc34, #c68f0c, #e1a30d);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   background-clip: text;
//   text-fill-color: transparent;
//   background-blend-mode: overlay, normal;
// }

// .silver-heading {
//   background: linear-gradient(
//     0deg,
//     #9f9a8d,
//     #585858,
//     #c9c9c9,
//     #ffffff,
//     #b8b8b8,
//     #9f9a8d,
//     #585858
//   ) !important;
//   -webkit-text-fill-color: transparent;
//   background-clip: text !important;
//   text-fill-color: transparent;
//   background-blend-mode: overlay, normal;

//   mix-blend-mode: screen;
//   // filter: blur(4.5px);
// }
