@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mars-Project";
  /* give the font a name */
  src: url("./font/Mars-Project.otf") format("opentype"), url("./font/Mars-Project.ttf") format("truetype"), url("./font/Mars-Project.woff") format("woff2");
}
html {
  overflow-x: hidden;
}

body {
  background: #000;
  color: #fff;
  font-family: "Figtree", sans-serif;
}

nav.navbar {
  background: transparent !important;
  border-bottom: 1px solid rgb(123, 123, 123);
}
nav.navbar .navbar-nav .nav-link {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.navbar .navbar-nav .nav-link:hover {
  color: white;
}
nav.navbar .navbar-nav .nav-link.active {
  color: white !important;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
}
nav.navbar .navbar-nav .nav-link.active::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
<<<<<<< HEAD
=======
  margin-left: 6px;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
}

.btn-white-gradient {
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 0;
  color: white;
}
.btn-white-gradient a {
  color: white;
  text-decoration: none;
  transition: 0.4s ease;
}
.btn-white-gradient:hover {
  border: 1px solid white;
}
<<<<<<< HEAD

#hero {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("./assets/HERO PATTERN.svg") no-repeat center;
  background-size: cover;
}
#hero .hero-container {
  min-height: 90vh;
=======
.btn-white-gradient:hover a {
  text-decoration: underline;
}

#hero .hero-container {
  min-height: 100vh;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
<<<<<<< HEAD
  background-size: cover;
=======
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  text-align: center;
}
#hero .hero-container h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 4rem;
<<<<<<< HEAD
  font-weight: 400;
=======
  font-weight: 700;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
#hero .hero-container p {
  font-size: 1.3rem;
}

.blue-gradient-button {
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  color: white;
  font-family: "Figtree";
  border: 1px solid #24caff;
  padding: 10px 25px;
  margin-top: 3rem;
  border-radius: 0;
}

#about {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
<<<<<<< HEAD
=======
  margin-bottom: 5rem;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
}
#about .about-container h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 4rem;
<<<<<<< HEAD
  font-weight: 400;
=======
  font-weight: 700;
  text-transform: uppercase;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  letter-spacing: 1;
  margin-bottom: 5rem;
}
#about .about-container p {
  font-size: 1.3rem;
}

<<<<<<< HEAD
.right-svg {
  position: absolute;
  right: -29rem;
  top: -36rem;
}

.left-svg {
  position: absolute;
  right: 61rem;
  top: 110rem;
}

.right-svg-1 {
  position: absolute;
  right: -28rem;
  top: 173rem;
}

.left-svg-2 {
  position: absolute;
  right: 61rem;
  top: -32rem;
}

=======
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
#why {
  min-height: 100vh;
  height: 100%;
  margin-bottom: 5rem;
<<<<<<< HEAD
  position: relative;
}
#why .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#why .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
#why .row .col h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
#why .row .card {
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  height: 286px;
  width: 286px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#why .row .card .card-content {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#why .row .card .card-content p {
  padding: 0 20px;
}
#why .row .card .card-content .card-img img {
  height: 330px;
  width: 330px;
}
#why .row .why-cards {
  height: 23rem;
  z-index: 10;
  margin-top: 5rem;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}
#why .row .why-cards .card-content {
=======
}
#why .why-container {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 3rem;
}
#why .why-container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  text-align: center !important;
}
#why .why-container .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#why .why-container .row .col h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 3rem !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
#why .why-container .row .why-cards {
  padding: 2rem;
  height: 23rem;
  z-index: 10;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#why .why-container .row .why-cards .card-content {
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
<<<<<<< HEAD
#why .row .why-cards .card-content img {
  position: absolute;
  z-index: 1;
}
#why .row .why-cards .card-content img.insight-img {
  width: 12rem;
  height: 9rem;
  top: -187px;
}
#why .row .why-cards .card-content img.bulb {
  width: 11rem;
  height: 12rem;
  top: -220px;
}
#why .row .why-cards .card-content img.rupee {
  width: 7rem;
  height: 9rem;
  top: -194px;
}
#why .row .why-cards .card-content .rupee-card {
  top: -185px;
}
#why .row .why-cards .card-content h1 {
  color: #0099db;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
#why .row:hover .card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}
=======
#why .why-container .row .why-cards .card-content img {
  max-width: 8rem;
  position: absolute;
  top: -200px;
  z-index: 1;
}
#why .why-container .row .why-cards .card-content .rupee-card {
  top: -185px;
}
#why .why-container .row .why-cards .card-content .insight-card {
  top: -140px;
}
#why .why-container .row .why-cards .card-content h1 {
  color: #0099db;
  font-size: 2rem;
  text-transform: uppercase;
}
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe

#sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: flex-start;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 5rem;
}
<<<<<<< HEAD
=======
#sponsors .sponsors-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
#sponsors .sponsors-container > h1 {
  text-align: center;
  font-family: "Mars-Project", sans-serif;
  font-size: 4rem;
<<<<<<< HEAD
  font-weight: 400;
=======
  font-weight: 700;
  text-transform: uppercase;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  letter-spacing: 1;
  margin-bottom: 5rem;
}
#sponsors .sponsors-container .row {
  display: flex;
  text-align: center !important;
  justify-content: center;
<<<<<<< HEAD
  gap: 3rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #sponsors .sponsors-container .row {
    text-align: start !important;
    justify-content: flex-start !important;
  }
}
#sponsors .sponsors-container .row h1 {
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-size: 4rem;
=======
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
#sponsors .sponsors-container .row h1 {
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-size: 3rem;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1;
}
#sponsors .sponsors-container .row .card {
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  height: 11rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  text-align: center;
<<<<<<< HEAD
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}
#sponsors .sponsors-container .row .card .card-content .logo img {
  height: 4rem;
=======
}
#sponsors .sponsors-container .row .card .card-content .logo img {
  width: 25rem;
  max-width: 50%;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
}

#organizers {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 2rem;
  padding-top: 10rem;
}
#organizers h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 3.5rem;
<<<<<<< HEAD
  font-weight: 400;
=======
  font-weight: 700;
  text-transform: uppercase;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
#organizers .organizers-container {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
<<<<<<< HEAD
#organizers .organizers-container .row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
#organizers .organizers-container .row .col-md-3 {
  width: 20% !important;
}

#footer {
  min-height: 100vh;
=======
#organizers .organizers-container .card {
  border-radius: 100%;
}
#organizers .organizers-container .card .card-content .card-img img {
  border-radius: 100%;
}

#footer {
  height: 100vh;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  position: relative;
  text-align: center;
}
#footer .footer-background-svg {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("./assets/HERO PATTERN.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: -7rem;
  z-index: -10;
  width: 100%;
}
=======
  text-align: center;
}
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
#footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
#footer .footer-container .logo {
  display: inline;
  position: relative;
}
#footer .footer-container .logo span {
<<<<<<< HEAD
  height: 10rem;
  width: 10rem;
  display: block;
  border: #00b3ff;
  border-radius: 100%;
  filter: blur(70px);
=======
  display: none;
  height: 10rem;
  width: 9rem;
  border: #00b2ff;
  border-radius: 100%;
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  position: absolute;
  right: 6rem;
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  z-index: 0;
}
#footer .footer-container .logo img {
<<<<<<< HEAD
  height: 5rem;
=======
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
  width: 18rem;
  position: relative;
  margin-bottom: 3rem;
  z-index: 3;
}
<<<<<<< HEAD
#footer .socials {
  display: flex;
  gap: 20px;
}

#organizers .card {
  background-color: transparent;
}
#organizers .card .card-img {
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-bottom: 3rem;
}
#organizers .card .card-img img {
  width: 200px;
  border-radius: 50%;
}

.gradient-text {
  background-size: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platinum-heading {
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(141, 128, 214) 100%) !important;
}

.golden-heading {
  background-image: linear-gradient(180deg, rgb(241, 169, 8) 0%, rgb(194, 237, 11) 100%);
}

.silver-heading {
  background-image: linear-gradient(180deg, rgb(162, 252, 232) 1%, rgb(71, 60, 134) 100%) !important;
=======
@media (min-width: 786px) {
  #footer .footer-container .logo img {
    height: 6rem;
    width: 22rem;
  }
}
#footer .footer-container .social-media-icons {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  border: 3px solid rgba(0, 153, 219, 0.3);
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  width: 286px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card .card-content {
  z-index: 10;
}
.card .card-content .card-img img {
  width: 100%;
}

@media (min-width: 768px) {
  #sponsors .row {
    justify-content: flex-start !important;
    align-items: center;
  }
  #sponsors .row .col {
    text-align: start !important;
  }
  #why .why-container row {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between !important;
  }
>>>>>>> 78e19ce37243b37fbce247228989063832056ebe
}/*# sourceMappingURL=style.css.map */