@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mars-Project";
  /* give the font a name */
  src: url("./font/Mars-Project.otf") format("opentype"), url("./font/Mars-Project.ttf") format("truetype"), url("./font/Mars-Project.woff") format("woff2");
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #000408;
  background-image: linear-gradient(271deg, #000408 60%, #090324 100%);
  color: #fff;
  font-family: "Figtree", sans-serif;
  overflow: hidden;
}

h1 {
  font-family: "Figtree" !important;
  font-style: normal;
  font-weight: 900 !important;
  font-size: 3.2rem;
  line-height: 115px;
  color: #3683f5;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

.cursor {
  position: fixed;
  top: -1rem;
  left: -1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 200000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.follower {
  position: fixed;
  top: -2rem;
  left: -2rem;
  width: 90px;
  height: 90px;
  background-color: rgba(5, 53, 76, 0.5);
  border-radius: 50%;
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 200000;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-top: 3.8em;
}

::-webkit-scrollbar-thumb {
  background: rgba(6, 74, 105, 0.5);
  border-radius: 100vw;
}

.wrapper {
  padding-inline: 1rem;
}

nav.navbar {
  background: rgba(0, 0, 0, 0.6) !important;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000000000000;
}
nav.navbar .navbar-brand {
  display: none;
  position: relative;
}
nav.navbar .navbar-brand .logo-up {
  height: 1rem;
  position: absolute;
  top: 0rem;
  left: 3.5rem;
  animation: all 1s infinite;
}
nav.navbar .navbar-nav .nav-item {
  margin-inline: 1rem;
}
nav.navbar .navbar-nav .nav-item .nav-link {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.navbar .navbar-nav .nav-item .nav-link:hover {
  color: white;
}
nav.navbar .navbar-nav .nav-item .nav-link.active {
  color: white !important;
  display: flex;
  flex-direction: column;
}
nav.navbar .collapse {
  width: 100%;
  background: transparent;
}

.btn-white-gradient {
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 0;
  color: white;
  position: relative;
  overflow: hidden;
}
.btn-white-gradient a {
  color: white;
  text-decoration: none;
  transition: 0.4s ease;
  z-index: 99;
  position: relative;
}
.btn-white-gradient a span img {
  max-width: 1.3rem;
  margin-right: 0.3rem;
}
.btn-white-gradient .btn-effect {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  top: 0;
  left: -100%;
  transition: left 1s ease;
}
.btn-white-gradient:hover .btn-effect {
  left: 0 !important;
}
.btn-white-gradient:hover {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#hero {
  background-size: cover;
  height: 100vh;
  min-height: 100%;
}
#hero .bg-hero {
  background-image: url("bg/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}
#hero #myVideo {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  height: 100vh !important;
  background-position: center center;
}
#hero .hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.7));
  position: absolute;
  min-height: 90vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  text-align: center;
  min-width: 100vw !important;
}
#hero .hero-container h1 {
  font-family: "Mars-Project", sans-serif !important;
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
#hero .hero-container p {
  font-family: "Mars-Project", sans-serif;
  font-size: 1.8rem;
  color: #0099db;
}

.fade-in-text {
  animation: fadeIn 9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blue-gradient-button {
  background: linear-gradient(102.24deg, #00070a -137.58%, rgba(3, 18, 69, 0) 122.85%);
  border: 1px solid rgba(21, 69, 172, 0.4);
  padding: 10px 25px;
  margin-top: 3rem;
  border-radius: 0;
}
.blue-gradient-button a {
  text-decoration: none;
  color: white;
  font-family: "Figtree";
}
.blue-gradient-button:hover {
  box-shadow: 1px 3px 20px rgba(21, 69, 172, 0.4);
}

.img-container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background: #000408;
  background-image: linear-gradient(281deg, #000408 60%, #231173 100%);
  color: #fff;
}

#about {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  padding-inline: 2rem;
  background-color: #000408;
  background-image: linear-gradient(271deg, #000408 60%, #090324 100%);
  overflow: hidden;
  margin-bottom: 5rem;
}
#about .about-container {
  background: transparent;
  text-justify: auto;
}
#about .about-container h1 {
  font-family: "Mars-Project", sans-serif;
  font-weight: 300;
  letter-spacing: 1;
}
#about .about-container p {
  text-align: justify;
  font-size: 1.1rem;
}
#about .about-container p span {
  color: #0099db;
  font-weight: 600;
  font-size: 1.3rem;
}

.svg {
  display: none;
  position: absolute;
  z-index: -100;
}

.right-svg {
  right: -29rem;
  top: -36rem;
}

.left-svg {
  right: 50rem;
  top: 110rem;
}

.right-svg-1 {
  right: -28rem;
  top: 173rem;
}

.left-svg-2 {
  right: 61rem;
  top: -32rem;
}

#tracks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 5rem;
}
#tracks .track-container > h1 {
  text-align: center;
  font-family: "Mars-Project", sans-serif;
  font-weight: 400;
  letter-spacing: 1;
  margin-bottom: 5rem;
  margin-top: 3rem !important;
}
#tracks .track-container .row {
  display: flex;
  text-align: center !important;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}
#tracks .track-container .row .card {
  background: linear-gradient(102.24deg, #00070a -137.58%, rgba(3, 18, 69, 0) 122.85%);
  box-shadow: 1px 3px 20px rgba(21, 69, 172, 0.4) !important;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}
#tracks .track-container .row .card .card-content .logo img {
  height: 2rem;
}
#tracks .track-container .row .card .card-content .text {
  text-align: center;
}
#tracks .track-container .row .card .card-content .text h4 {
  font-size: 1rem;
  color: white;
}
#tracks .track-container .row:hover .card:hover {
  transform: translateY(-5px) scale(1.05) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}

#why {
  min-height: 100vh;
  height: 100%;
  margin-bottom: 5rem;
  position: relative;
}
#why .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#why .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
}
#why .row .col h1 {
  font-family: "Mars-Project", sans-serif;
  font-weight: 400;
  margin-bottom: 5rem;
  margin-top: 4rem;
}
#why .row .card {
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  height: 19rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
  padding: 2rem;
}
#why .row .card .card-content {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#why .row .card .card-content p {
  padding: 0 20px;
  line-height: 1.5;
  font-weight: bold;
}
#why .row .card .card-content h1 {
  font-weight: 900 !important;
  font-size: 4rem !important;
  color: #fff !important;
}
#why .row .card .card-content .card-img img {
  height: 330px;
  width: 330px;
}
#why .row .why-cards {
  margin-top: 5rem;
  background: linear-gradient(102.24deg, #00070a -137.58%, rgba(3, 18, 69, 0) 122.85%);
  box-shadow: 1px 3px 20px rgba(21, 69, 172, 0.4);
  transition: all 0.2s ease-out;
  text-decoration: none;
}
#why .row .why-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
#why .row .why-cards .card-content img {
  position: absolute;
  z-index: 1;
}
#why .row .why-cards .card-content img.gold-coin {
  width: 12rem;
  height: 12rem;
  top: -12.5rem;
}
#why .row .why-cards .card-content img.silver-coin {
  width: 8rem;
  height: 8rem;
  top: -7rem;
}
#why .row .why-cards .card-content img.bronze-coin {
  width: 8rem;
  height: 8rem;
  top: -7rem;
}
#why .row .why-cards .card-content .rupee-card {
  top: -185px;
}
#why .row .why-cards .card-content h1 {
  color: #0099db;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
#why .row:hover .card:hover {
  transform: translateY(-5px) scale(1.05) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}

#supporter {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
}
#supporter .supporter-container .row {
  display: flex;
  justify-content: center;
  flex-direction: column !important;
}
#supporter .supporter-container .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
#supporter .supporter-container .row .col h1,
#supporter .supporter-container .row .col > h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: -1px;
}
#supporter .supporter-container .row .col .supporter-card {
  height: 100%;
  z-index: 10;
  margin-top: 5rem;
  overflow: hidden;
  box-shadow: 1px 3px 20px rgba(21, 69, 172, 0.4);
  transition: all 0.2s ease-out;
  text-decoration: none;
}
#supporter .supporter-container .row .col .supporter-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  position: relative;
  padding: 3rem 2rem;
  text-justify: auto;
}
#supporter .supporter-container .row .col .supporter-card .card-content img {
  scale: 0.5;
  height: 7rem !important;
  z-index: 1;
}
#supporter .supporter-container .row .col .supporter-card .card-content h2 {
  color: #0099db;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}
#supporter .supporter-container .row .col .supporter-card .card-content p {
  font-size: 1.1rem;
}
#supporter .supporter-container .row .col .supporter-card:hover .supporter-card:hover {
  transform: translateY(-5px) scale(1.05) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}

#sponsors,
#community-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 5rem;
}
#sponsors .sponsors-container > h1,
#community-partner .sponsors-container > h1 {
  font-size: 3rem;
}
#sponsors .sponsors-container .row,
#community-partner .sponsors-container .row {
  display: flex;
  text-align: center !important;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
#sponsors .sponsors-container .row .col img,
#community-partner .sponsors-container .row .col img {
  max-width: 20rem;
  margin-block: 2rem;
  margin-top: 5rem;
}
#sponsors .sponsors-container .row .card,
#community-partner .sponsors-container .row .card {
  background: linear-gradient(102.24deg, #00070a -137.58%, rgba(3, 18, 69, 0) 122.85%);
  box-shadow: 1px 1px 15px rgba(21, 69, 172, 0.4) !important;
  height: 11rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-inline: 1rem;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}
#sponsors .sponsors-container .row .card .card-content .logo img,
#community-partner .sponsors-container .row .card .card-content .logo img {
  height: 4rem;
}
#sponsors .sponsors-container .row #sponserBtn,
#community-partner .sponsors-container .row #sponserBtn {
  margin-top: 7rem;
}

#community-partner {
  height: 100% !important;
  min-height: 50vh;
}
#community-partner a {
  text-decoration: none;
  color: white;
}
#community-partner h1 {
  margin-bottom: 4rem !important;
  line-height: 1 !important;
}
#community-partner img {
  min-width: 7rem !important;
  height: 7rem !important;
  margin-bottom: -1rem;
}

#speakers {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 2rem;
  justify-content: center;
}
#speakers h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
#speakers .speaker-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  flex-wrap: wrap;
}
#speakers .speaker-container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#speakers .speaker-container .row .col .card {
  background-color: transparent;
  z-index: 100000;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 20px rgba(21, 69, 172, 0.4);
  padding: 2rem;
  margin-top: 2rem;
  transition: all 0.5s ease-out;
  text-decoration: none;
}
#speakers .speaker-container .row .col .card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-bottom: 3rem;
}
#speakers .speaker-container .row .col .card .card-img img {
  width: 250px;
  transition: all 0.6s ease-in-out;
}
#speakers .speaker-container .row .col .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#speakers .speaker-container .row .col .card .card-content .speaker-details h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #3683f5;
}
#speakers .speaker-container .row .col .card .card-content .speaker-details p {
  font-size: 0.9rem;
}
#speakers .speaker-container .row .col .card .card-content .speaker-socials {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
#speakers .speaker-container .row .col .card .card-content .speaker-socials .speaker-social-icon img {
  width: 2rem !important;
  height: 2rem;
}

#organizers {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 2rem;
}
#organizers h1 {
  font-family: "Mars-Project", sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
#organizers .organizers-container {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#organizers .organizers-container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-size: cover;
  -webkit-backdrop-filter: 40px;
          backdrop-filter: 40px;
}
#footer l .footer-background-svg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -100rem;
  z-index: -110;
  width: 100%;
}
#footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10rem;
}
#footer .footer-container .logo {
  display: inline;
  position: relative;
}
#footer .footer-container .logo span {
  height: 10rem;
  width: 10rem;
  display: block;
  border: #00b3ff;
  border-radius: 100%;
  filter: blur(70px);
  position: absolute;
  right: 6rem;
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%);
  z-index: 0;
}
#footer .footer-container .logo img {
  height: 5rem;
  width: 18rem;
  position: relative;
  z-index: 3;
}
#footer .footer-container .logo .logo-up {
  max-height: 3.5rem;
  max-width: 3.5rem;
  position: absolute;
  top: -1.9rem;
  right: 2rem;
  animation: all 1s infinite;
}
#footer .socials {
  display: flex;
  margin-top: -6rem;
  gap: 20px;
}
#footer .socials .social-icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.7s ease-in-out;
}
#footer .socials .social-icon:hover {
  transform: rotate(360deg);
}

#organizers .card {
  background-color: transparent;
  z-index: 100000;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  text-decoration: none;
}
#organizers .card .card-img {
  background: linear-gradient(102.24deg, #00070a -137.58%, rgba(3, 18, 69, 0) 122.85%);
  box-shadow: 0 14px 26px rgba(38, 83, 156, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-bottom: 3rem;
}
#organizers .card .card-img .abhishek-img {
  height: 205px !important;
}
#organizers .card .card-img img {
  width: 200px;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}
#organizers .card .content h3 {
  font-family: "Mars-Project", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}
#organizers .card .content p {
  font-size: 1.3rem;
  color: #0099db;
}
#organizers:hover .card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 1px 3px 20px rgba(21, 69, 172, 0.4);
}
#organizers:hover .card:hover .card-img {
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0);
}

.gradient-text {
  background-size: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4rem !important;
  margin-top: 8rem !important;
}

@media (min-width: 768px) {
  .navbar-brand {
    display: block !important;
  }
  #tracks .row .card {
    height: 8rem !important;
    width: 8rem !important;
  }
  #tracks .row .card .card-content .logo img {
    height: 3rem !important;
  }
  #tracks .row .card .card-content .text {
    text-align: center;
  }
  #tracks .row .card .card-content .text h4 {
    font-size: 1rem !important;
    color: white;
  }
  #tracks .row .open-card {
    width: 19rem !important;
    height: 8rem;
  }
  #about p {
    font-size: 1.5rem !important;
  }
  #about span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #organizers .row {
    display: flex;
    flex-wrap: wrap;
  }
  #organizers .card {
    flex-basis: 50%;
    width: 14rem;
  }
  h1 {
    font-size: 4rem !important;
  }
  .gold-card {
    height: 29rem !important;
    width: 23rem !important;
    padding: 2rem;
  }
  .gold-card .card-content h1 {
    font-size: 7rem;
  }
  .gold-card .card-content h2 {
    line-height: 48px;
  }
  #supporter .supporter-container p {
    font-size: 1.4rem !important;
  }
  #sponsors .row .col img,
  #community-partner .row .col img {
    max-width: 40rem !important;
  }
}
@media screen and (min-width: 1000px) {
  nav.navbar {
    border-bottom: 1px solid white;
  }
  .hero-container h1 {
    font-size: 7rem !important;
  }
  .hero-container p {
    font-size: 2.8rem !important;
  }
  .about-container p {
    font-size: 1.5rem;
  }
  .about-container p span {
    font-size: 1.7rem;
  }
  #sponsors .sponsors-container .row,
  #community-partner .sponsors-container .row {
    gap: 1rem !important;
    flex-wrap: wrap !important;
  }
  #sponsors .sponsors-container .row .card,
  #community-partner .sponsors-container .row .card {
    height: 11rem;
    width: 18rem;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
  }
  #organizers .card,
  #speakers .card {
    width: 16rem !important;
  }
  #tracks .row .card {
    height: 10rem !important;
    width: 12rem !important;
  }
  #tracks .row .card .card-content .logo img {
    height: 5rem !important;
  }
  #tracks .row .card .card-content .text {
    text-align: center;
  }
  #tracks .row .card .card-content .text h4 {
    font-size: 1.5rem !important;
    color: white;
  }
  #tracks .row .open-card {
    width: 27rem !important;
    height: 8rem;
  }
  #speakers .card {
    padding: 0 !important;
  }
  #speakers .card .card-content img {
    width: 200px !important;
  }
}
@media (min-width: 1200px) {
  #sponsors .sponsors-container .row {
    gap: 3rem !important;
  }
  #sponsors .sponsors-container .row .card {
    height: 11rem;
    width: 20rem;
  }
  #organizers .row,
  #speakers .row {
    flex-wrap: nowrap !important;
  }
  #organizers .card,
  #speakers .card {
    width: 16rem;
  }
}
@media (min-width: 1400px) {
  #tracks .row .card {
    height: 14rem !important;
    width: 18rem !important;
  }
  #tracks .row .card .card-content .logo img {
    height: 5rem !important;
  }
  #tracks .row .card .card-content .text {
    text-align: center;
  }
  #tracks .row .card .card-content .text h4 {
    font-size: 1.5rem !important;
    color: white;
  }
  #tracks .row .open-card {
    width: 39rem !important;
    height: 8rem;
  }
}
.glow-on-hover {
  outline: none;
  cursor: pointer;
  position: relative;
  background: linear-gradient(102.24deg, #00b2ff -137.58%, rgba(3, 18, 69, 0) 122.85%) !important;
  z-index: 0;
  border-radius: 3px;
  padding: 10px 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Figtree";
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 19.8552px;
  line-height: 29px;
  background: transparent;
  box-shadow: 0px 8.82451px 35.298px rgba(104, 1, 255, 0.12);
  border: 0.5px solid rgba(252, 251, 251, 0.03);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 3px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 0.7;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  color: #ffffff;
  border-radius: 3px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes all {
  0% {
    transform: skew(10deg, 10deg);
  }
  50% {
    transform: skew(-0.03turn, 18deg);
  }
  100% {
    transform: skew(0.312rad);
  }
}
#app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: rgb(100, 220, 220);
  letter-spacing: 1em;
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(94px, 9999px, 63px, 0);
    transform: skew(0.82deg);
  }
  5% {
    clip: rect(61px, 9999px, 5px, 0);
    transform: skew(0.88deg);
  }
  10% {
    clip: rect(17px, 9999px, 40px, 0);
    transform: skew(0.11deg);
  }
  15% {
    clip: rect(48px, 9999px, 36px, 0);
    transform: skew(0.17deg);
  }
  20% {
    clip: rect(88px, 9999px, 70px, 0);
    transform: skew(0.97deg);
  }
  25% {
    clip: rect(12px, 9999px, 66px, 0);
    transform: skew(0.2deg);
  }
  30% {
    clip: rect(9px, 9999px, 73px, 0);
    transform: skew(0.16deg);
  }
  35% {
    clip: rect(57px, 9999px, 1px, 0);
    transform: skew(0.67deg);
  }
  40% {
    clip: rect(95px, 9999px, 69px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(54px, 9999px, 43px, 0);
    transform: skew(0.73deg);
  }
  50% {
    clip: rect(93px, 9999px, 1px, 0);
    transform: skew(0.26deg);
  }
  55% {
    clip: rect(81px, 9999px, 49px, 0);
    transform: skew(0.88deg);
  }
  60% {
    clip: rect(36px, 9999px, 51px, 0);
    transform: skew(0.32deg);
  }
  65% {
    clip: rect(41px, 9999px, 48px, 0);
    transform: skew(0.41deg);
  }
  70% {
    clip: rect(22px, 9999px, 24px, 0);
    transform: skew(0.16deg);
  }
  75% {
    clip: rect(41px, 9999px, 49px, 0);
    transform: skew(0.89deg);
  }
  80% {
    clip: rect(30px, 9999px, 69px, 0);
    transform: skew(0.87deg);
  }
  85% {
    clip: rect(89px, 9999px, 2px, 0);
    transform: skew(0.12deg);
  }
  90% {
    clip: rect(80px, 9999px, 83px, 0);
    transform: skew(0.84deg);
  }
  95% {
    clip: rect(58px, 9999px, 74px, 0);
    transform: skew(0.34deg);
  }
  100% {
    clip: rect(81px, 9999px, 40px, 0);
    transform: skew(0.53deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(58px, 9999px, 29px, 0);
    transform: skew(0.48deg);
  }
  5% {
    clip: rect(48px, 9999px, 51px, 0);
    transform: skew(0.92deg);
  }
  10% {
    clip: rect(53px, 9999px, 26px, 0);
    transform: skew(0.13deg);
  }
  15% {
    clip: rect(5px, 9999px, 49px, 0);
    transform: skew(0.6deg);
  }
  20% {
    clip: rect(39px, 9999px, 29px, 0);
    transform: skew(0.14deg);
  }
  25% {
    clip: rect(71px, 9999px, 45px, 0);
    transform: skew(0.35deg);
  }
  30% {
    clip: rect(11px, 9999px, 26px, 0);
    transform: skew(0.49deg);
  }
  35% {
    clip: rect(14px, 9999px, 91px, 0);
    transform: skew(0.84deg);
  }
  40% {
    clip: rect(90px, 9999px, 5px, 0);
    transform: skew(0.58deg);
  }
  45% {
    clip: rect(61px, 9999px, 20px, 0);
    transform: skew(0.56deg);
  }
  50% {
    clip: rect(54px, 9999px, 12px, 0);
    transform: skew(0.25deg);
  }
  55% {
    clip: rect(96px, 9999px, 65px, 0);
    transform: skew(0.23deg);
  }
  60% {
    clip: rect(72px, 9999px, 92px, 0);
    transform: skew(0.08deg);
  }
  65% {
    clip: rect(81px, 9999px, 56px, 0);
    transform: skew(0.76deg);
  }
  70% {
    clip: rect(54px, 9999px, 58px, 0);
    transform: skew(0.59deg);
  }
  75% {
    clip: rect(17px, 9999px, 23px, 0);
    transform: skew(0.55deg);
  }
  80% {
    clip: rect(22px, 9999px, 33px, 0);
    transform: skew(0.45deg);
  }
  85% {
    clip: rect(9px, 9999px, 12px, 0);
    transform: skew(0.73deg);
  }
  90% {
    clip: rect(86px, 9999px, 97px, 0);
    transform: skew(0.11deg);
  }
  95% {
    clip: rect(38px, 9999px, 82px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(63px, 9999px, 43px, 0);
    transform: skew(0.62deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-3deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(5deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(1deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(3deg);
  }
}/*# sourceMappingURL=style.css.map */